.idea
*.iml
*~
.vscode
target/
teste.xml
tesng.xml
.project
.classpath
testbranch/
.settings
docker-compose.yml
src/test/resources/reportportal.properties
tesng.xml
GITHUBLoginCookies.data
GOOGLELoginCookies.data
BITBUCKETLoginCookies.data
GITHUBDevLoginCookies.data
BITBUCKETDevLoginCookies.data
bin/
.DS_Store
GITHUBStagingLoginCookies.data
BITBUCKETStagingLoginCookies.data
BITBUCKETProdLoginCookies.data
GITHUBProdLoginCookies.data
qa-automation-test-runner.tar.gz
.metals/
.factorypath
localtesting.xml
*.log
reportportal.lock
reportportal.sync
